- diaries.each do |diary|
  = diary.title
  = diary.body
  = diary.weight
  = diary.body_fat_percentage
  = diary.post_date
  = attachment_image_tag diary, :image1
  = attachment_image_tag diary, :image2
  = attachment_image_tag diary, :image3
  = link_to "詳細", diary_path(diary.id)
  %br