%table.table
  %thead
    %tr
      %th image
      %th name
      %th{:colspan => "4"}
  %tbody
    - users.each do |user|
      %tr.table_link
        %td{"data-link": "/users/#{user.id}"}
          = attachment_image_tag(user, :profile_image, size: "30x30", fallback: "l_e_others_500.jpg")
        %td{"data-link": "/users/#{user.id}"}
          = link_to user.name
        %td{"data-link": "/users/#{user.id}"}
          フォロー数:
          %span.followings_count #{user.followings.count}
        %td{"data-link": "/users/#{user.id}"}
          フォロワー数:
          %span.followers_count #{user.followers.count}
        -if user_signed_in?
          %td
            - if current_user != user
              %span{:id => "follow_bottons_#{user.id}"}
                = render "relationships/follow_form", user: user
= paginate users

