<h1>ユーザープロフィール設定</h1>
<%= form_with model:@user, local:true do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder:"名前" %>
  </div>
  <div class="field">
    <%= f.label :sex %>
    <%= form.radio_button :gender, "男性" %>男性 <%= form.radio_button :gender, "女性" %>女性
  </div>